html {
  font-size: 14px;
}

/*
 *  用于控制显示和隐藏的css
 */
.dn {
  display: none;
}
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.df {
  display: flex;
}
.dt {
  display: table;
}
.dtc {
  display: table-cell;
}
/*
 *  用于控制方向的css
 */
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}

/*
 *  浮动
 */
.fl {
  float: left;
}
.fr {
  float: right;
}

/*
 *  margin居中
 */
.ma {
  margin: 0 auto;
}
/*
 *  用于间隔
 */
.mb10 {
  margin-bottom: 10px;
}
.mr10 {
  margin-right: 10px;
}
/*
 *  方便定位的position
 */
.pr {
  position: relative;
}

/*
 *  用于对齐
 */
.vam {
  vertical-align: middle;
}

a {
  color: #0366d6;
  text-decoration: none;
}
a:active, a:hover {
  color: #0366d6;
  text-decoration: underline;
}
/*
 *  顶部标题公用样式
 */
.fix-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  box-shadow: 0 0 5px #333;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  white-space: nowrap;
  background-color: #fff;
}
.pt50 {
  padding-top: 50px;
}


