<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>营运稽核报告</title>

</head>
<body style="font-size: 14px;font-family: Helvetica,Arial,sans-serif;color: #24292e;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;text-size-adjust:100%;">
  <div style="font-size: 14px;font-family: Helvetica,Arial,sans-serif;color: #24292e;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;text-size-adjust:100%;">
    <div style="text-align: center;width: 1530px;font-size:24px;line-height: 60px;">202107-202108-探鱼测试店-营运稽核报告</div>
    <div style="width: 1530px;margin-bottom: 30px">
      <table border="1" style="width: 1530px;border-collapse: collapse;">
        <tr style="visibility: hidden;">
          <th style="width: 50%;"></th>
          <th></th>
        </tr>
        <tr>
          <td colspan="2">
            门店名称：探鱼测试店
          </td>
        </tr>
        <tr>
          <td>
            门店店总：陈得晓
          </td>
          <td>
            大区负责人：name
          </td>
        </tr>
        <tr>
          <td>
            稽核人：朱情花
          </td>
          <td>
            稽核时间：2021-07-01 11:20:03—2021-07-01 11:21:02
          </td>
        </tr>
        <tr>
          <td>
            稽核扣分数：109
          </td>
          <td>
            是否触犯红线：是
          </td>
        </tr>
      </table>
    </div>

    <div style="margin-bottom: 30px">
      <table border="1" style="width: 870px;border-collapse: collapse;">
        <tr>
            <th style="width: 200px;background-color: #bac4e9;text-align: center;">稽核检查表</th>
            <th style="width: 70px;background-color: #bac4e9;text-align: center;">扣分</th>
            <th style="width: 500px;background-color: #bac4e9;text-align: center;">是否触犯红线</th>
            <th style="width: 100px;background-color: #bac4e9;text-align: center;">问题数量</th>
        </tr>
        <tr>
            <td>测试2</td>
            <td>109</td>
            <td>是</td>
            <td style="text-align: right;">4</td>
        </tr>
        <tr>
            <td>合计</td>
            <td colspan="3" style="color:red;text-align: center;">109</td>
        </tr>
      </table>
    </div>

    <div style="width: 1530px;margin-bottom: 30px">
      <div style="background-color: #bac4e9;text-align: center;">扣分项目明细</div>
      <div style="background-color: #dce0f3;">测试2</div>
      <table border="1" style="width: 1530px;border-collapse: collapse;">
        <tr>
            <th style="width: 200px;text-align: center;background-color: #dce0f3;">稽核项</th>
            <th style="width: 70px;text-align: center;background-color: #dce0f3;">类别扣分</th>
            <th style="width: 500px;text-align: center;background-color: #dce0f3;">检查内容</th>
            <th style="width: 100px;text-align: center;background-color: #dce0f3;">是否触犯红线</th>
            <th style="width: 400px;text-align: center;background-color: #dce0f3;">问题描述</th>
            <th style="width: 60px;text-align: center;background-color: #dce0f3;">扣分</th>
            <th style="width: 200px;text-align: center;background-color: #dce0f3;">问题照片</th>
        </tr>
        <tr>
            <td>酥皮山楂叉烧包</td>
            <td>100.0</td>
            <td>酥皮山楂叉烧包外表表面金黄色、蓬松，类似小菠萝包，出品表面酥皮需裹满表面，醒发时间适合、烤好直径8cm*高4.5cm，底部无爆裂漏馅酥皮山楂叉烧包外表表面金黄色、蓬松，类似小菠萝包，出品表面酥皮需裹满表面，醒发时间适合、烤好直径8cm*高4.5cm，底部无爆裂漏馅</td>
            <td>否</td>
            <td>问题描述</td>
            <td> 50</td>
            <td style="text-align: center;vertical-align: middle;"><img style="width: 65px;" src='./example.jpg'/></td>
        </tr>
        <tr>
            <td> 酥皮山楂叉烧包 </td>
            <td>100.0</td>
            <td>酥皮山楂叉烧包外表表面金黄色、蓬松，类似小菠萝包，出品表面酥皮需裹满表面，醒发时间适合、烤好直径8cm*高4.5cm，底部无爆裂漏馅</td>
            <td>否</td>
            <td>问题描述</td>
            <td> 50</td>
            <td style="text-align: center;vertical-align: middle;"><img style="width: 65px;" alt="" src='./example.jpg'/><img style="width: 65px;" alt="" src='./example.jpg'/><img style="width: 65px;" alt="" src='./example.jpg'/></td>
        </tr>

      </table>
    </div>

    <div style="width: 1530px;margin-bottom: 30px">
      <div style="background-color: #bac4e9;">稽核人员整改意见</div>
      <div>继续加油</div>
    </div>
  </div>
</body>
</html>