.canvas-section {
  position: relative;
  text-align: left;
  min-height: 300px;
}
.canvas-part {
  border: 1px solid #eee;
}

.canvas-operate-part,
.canvas-image-part {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid rgb(170, 164, 164,0);
}

.canvas-collision {
  border: 1px solid #eee;
  background-color: #ff9600;
}

.show-worlds {
  width: 600px;
  height: 20px;
  line-height: 20px;
}

.statistics {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.image-wrap {
  width: 60px;
}
.statistics-icon1 {
  transform: translateX(18px) rotate(90deg);
}

.statistics-icon2 {
  margin: 0 auto;
}