.css-shape-example {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.example-square {
  width: 100px;
  height: 100px;
  background-color: #333;
}
.example-square-border {
  width: 100px;
  height: 100px;
  border-top:10px solid #990000;
  border-left:20px solid #000000;
  border-bottom:15px solid #ffff00;
  border-right:25px solid #440000;
}
.example-rectangle {
  width: 200px;
  height: 100px;
  background-color: #333;
}
.example-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #333;
}
.example-oval {
  width: 200px;
  height: 100px;
  background-color: #333;
  border-radius: 100px/50px;
  /*border-top-left-radius:     100px 50px;*/
  /*border-top-right-radius:    100px 50px;*/
  /*border-bottom-right-radius: 100px 50px;*/
  /*border-bottom-left-radius:  100px 50px;*/
}
.example-triangle-up {
  width: 100px;
  height: 100px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #333;
}
.example-triangle-down {
  width: 100px;
  height: 100px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #333;
}
.example-triangle-right {
  width: 100px;
  height: 100px;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 100px solid #333;
}
.example-triangle-left {
  width: 100px;
  height: 100px;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 100px solid #333;
}
.example-trapezoid {
  width: 200px;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #333;
}