.animal-mover {
  width: 299px;
  height: 200px;
  background:#333 url(./images/hornbill.png) no-repeat center center;
  background-size: cover;
  /* -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); */
}

.color1 {
  color: #dcc877;
  color: #e4d784;
  color: #e4b454;
  color: #ca8a59;
  color: #cb4c3b;
  color: #da5032;
  color: #ba3c0a;
  color: #c34a2a;
  color: #442d1e;
  color: #302717;
  color: #d36449;
  color: #463c33;
  color: #f4fbf3;
  color: #ddd7c9;
  color: #eee5d9;
  color: #402b3b;
  color: #cf7a59;
  color: #333226;
  color: #3d3328;
  color: #341f24;
  color: #d65100;
  color: #744a0e;
}

.painting {
  position: relative;
  width: 1000px;
  height: 700px;
}
.wrap-piece {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.piece {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s cubic-bezier(0.7, 0.3, 0, 1);
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%);
}

.piece1 {
  clip-path: polygon(12.600% 80.857%,37.700% 61.286%,33.500% 58.714%);
  background-color: #eee5d9;
}
.piece2 {
  clip-path: polygon(33.500% 58.714%,44.600% 66.143%,45.200% 57.286%);
  background-color: #ddd7c9;
}
.piece3 {
  clip-path: polygon(59.900% 55.714%,44.600% 66.143%,45.200% 57.286%);
  background-color: #f4fbf3;
}
.piece4 {
  clip-path: polygon(33.500% 58.714%,59.900% 55.714%,50.000% 50.429%);
  background-color: #302717;
}
.piece5 {
  clip-path: polygon(23.700% 63.143%,38.600% 43.571%,50.000% 50.429%);
  background-color: #333226;
}
.piece6 {
  clip-path: polygon(33.500% 58.714%,21.800% 68.143%,26.200% 61.857%);
  background-color: #3d3328;
}