.sat1,.sat2 {
  /* border: 1px solid #333; */
  height: 80px;
}

.sat1-rect {
  position: absolute;
  left: 10px;
  top: 0;
  width: 60px;
  height: 50px;
  border: 1px solid #949090
  /* background-color: #949090; */
}

.sat1-triangle {
  position: absolute;
  left: 80px;
  top: 0;
  border-right: 40px solid #949090;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.sat2-rect {
  position: absolute;
  left: 10px;
  top: 0;
  width: 60px;
  height: 50px;
  border: 1px solid #949090
  /* background-color: #949090; */
}

.sat2-triangle {
  position: absolute;
  left: 50px;
  top: 0;
  border-right: 40px solid #949090;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

td,th {
  padding: 4px 6px;
}

.canvas-part {
  border: 1px solid #eee;
}

.canvas-collision {
  border: 1px solid #eee;
  background-color: #ff9600;
}